*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width:100vw;
    height: 100vh;
    background-color: antiquewhite;
}
.container{
    position: relative;
    left: 30%;
    top:8%;
}
.child1{
    height: 500px;
    width: 300px;
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.child2{
    height: 500px;
    width: 300px;
    position: absolute;
    top:0px;
    left: 300px;
    background-color: white;
}
h6{
    position: absolute;
    top: 30px;
    left: 10px;
   letter-spacing: 3px;
}
.para{
    position: absolute;
    top: 70px;
    left: 30px;
    font-size:30px;
    font-weight: bold;
}
.para1{
    position: absolute;
    top: 200px;
    left: 30px;
    font-size:20px;
    font-weight: lighter;
}
.amount{
    color: green;
    font-size: 30px;
    position: absolute;
    top: 350px;
    left: 30px;
}
button{
    height: 50px;
    width: 250px;
    border-radius: 20px 20px 20px 20px;
    background-color: green;
    color: white;
    position: absolute;
    top:400px;
    left: 30px;
    font-size: 20px;
}